

.segundoNivel {
	color: rgb(250, 210, 210);
	text-shadow: 2px 2px indigo;
}

.questao {
	background-color: white;
  border: 1px solid black;
  padding: 10px;
  margin-left: 5px;
  margin-bottom: 40px;
}

.pergunta {
  color: black;
  font-size: 24px;
  text-align: justify;
  padding: 10px;
  margin-bottom: 0;
}

.alternativa, .aIternativa {
  font-size: 24px;
  display: inline-block;
  align-content: space-between;
  margin: 6px;
  width: 150px;
  color: #303030;
  background-color: #6da9b8;
}

.alternativa:hover, .aIternativa:hover {
  font-size: 24px;
  color: #000000;
  background-color: #43d7fc;
  cursor: pointer;
}

.errada {
  background-color: #f75033;
  color: white;
  pointer-events: none;
}

.certa {
  background-color: #25a536 !important;
  color: #303030 !important;
  pointer-events: none;
}

.erradaerrou {
  background-color: #a12b16;
  color: white;
  pointer-events: none;
}

.certaacertou {
  background-color: #18ec34 !important;
  color: black !important;
  pointer-events: none;
}

